html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global Styles */

html {
  font-size: 62.5%;
  max-width: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
nav,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1980px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.browsePage {
  display: flex;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

/* browse.html Styles */

/* Browse Colleges Content Styles */

.worldCollegesContainer h1 {
  font-size: 4rem;
  padding: 50px 0;
  text-transform: capitalize;
  font-weight: 600;
}

.nearbyCollegesParentContainer h2,
.worldCollegesContainer h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
}

.locationBrowseContainer h2 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 50px 0;
}

.worldCollegesContainer img:hover,
.collegeInfo img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.worldColleges {
  display: flex;
  padding: 50px 0;
}

.worldColleges div {
  width: 100%;
}

.worldColleges h3 {
  padding-top: 15px;
}

.oxford {
  margin-left: 20px;
}

.melbourne {
  margin: 0 20px;
}

.viewAll {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Nearby Colleges Styles */

.nearbyCollegesContainer {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nearbyCollegesContainer .viewAll {
  margin-right: 80px;
}

.nearbyColleges {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 25px;
  grid-template-columns: auto auto auto;
}

.collegeInfo {
  display: flex;
}

.nearbyColleges img {
  width: 80px;
  height: 80px;
}

.imageInfo {
  padding: 20px;
}

/* Browse by Continent Styles */

.locationBrowseContainer {
  padding-bottom: 50px;
  border-bottom: 1px solid black;
}

.locationBrowse {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
}

.continent {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 600;
}
