html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global Styles */

html {
  font-size: 62.5%;
  max-width: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
nav,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1980px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

.explorePage {
  display: flex;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

/* explore.html Styles */

/* Header Styles */

/* .exploreHeader {
  clear: both;
} */

.exploreHeader h1 {
  padding: 50px 0;
}

.headerPhotosContainer {
  position: relative;
}

.headerPhotos {
  display: flex;
  padding-top: 50px;
}

.headerPhotos img {
  margin: 0 5px;
}

/* Map Styles */

.uniPhotosContainer {
  padding: 50px 0;
  background-color: white;
  width: 70%;
}

.imagesContainer,
.virtualContainer {
  display: none;
}

.images,
.virtual {
  display: flex;
  justify-content: center;
}

.images {
  /* border: 1px solid black; */
  padding: 10px;
}

/* .images img {
  height: 300px;
} */

.mySlides {
  display: none;
  height: 400px;
}

.w3-center {
  margin: 15px 0;
}

.viewContainer {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
}

.viewContainer h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

iframe {
  width: 100%;
  height: 400px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  position: absolute;
  left: 40%;
  top: 95%;
}

.buttonsContainer button:hover {
  color: #ee1d52;
  transition: all 0.2s linear;
}

.imagesButton,
.virtualButton,
.videosButton {
  padding: 10px;
  background-color: white;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 2px solid black;
}

.videosButton {
  border-right: none;
}

.closeImages,
.closeVirtual {
  background-color: white;
  border: none;
  font-size: 4rem;
}

.closeImages:hover,
.closeVirtual:hover {
  background-color: lightgray;
  border-radius: 20%;
  transition: all 0.2s linear;
}

/* Explore Info Styles */

.exploreInfoContainer {
  margin-top: 50px;
  display: flex;
  border-bottom: 1px solid black;
}

.helpfulInfoContainer {
  width: 60%;
}

.helpfulInfoContainer h2 {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.overview,
.location,
.admissions,
.cost,
.academics,
.universityLife {
  padding: 50px 0;
  border-bottom: 1px solid black;
}

.universityLife {
  border-bottom: none;
}

.location p {
  margin-bottom: 25px;
}

.membersContainer {
  width: 40%;
  margin: 50px;
  height: fit-content;
  background-color: lightgray;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.title h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: bold;
}

.title a {
  font-size: 2rem;
  color: #000;
}

.title a:hover {
  color: dodgerblue;
  transition: all 0.2s linear;
}

.profilePics {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px 25px;
}

.currentStudents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentStudents img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.currentStudents img:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.currentStudents p {
  text-transform: capitalize;
  font-size: 2rem;
}
