html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global Styles */

html {
  font-size: 62.5%;
  max-width: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
nav,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1980px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

/* index.html Styles */

/* Nav Styles */

.navContainer {
  padding: 15px 0;
}

.logoContainer {
  float: left;
  display: flex;
}

.navContainer .logo {
  width: 25px;
  height: 50px;
  margin-right: 10px;
}

.navContainer h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.linksContainer {
  float: right;
  display: flex;
}

.linksContainer a,
.uniLink {
  padding: 10px;
  font-size: 2rem;
  text-transform: capitalize;
  color: white;
}

.linksContainer a:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}

.signUp,
.uniLink {
  padding: 10px;
  border: 2px solid white;
}

.signUp:hover,
.uniLink:hover {
  border: 2px solid black;
  color: black;
  transition: all 0.3s ease-in-out;
}

.signUp {
  margin-left: 75px;
}

/* Header Styles */

.landPageHeader {
  position: relative;
  background: linear-gradient(
      110.21deg,
      rgba(238, 29, 82, 0.94) 0.83%,
      rgba(255, 197, 98, 0.72) 90.78%
    ),
    url(../images/header.png);
  background-size: cover;
  color: white;
  overflow: hidden;
}

.headerInfoContainer {
  padding: 150px 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.headerInfoContainer h2 {
  font-size: 6rem;
}

.headerInfoContainer p {
  font-size: 2rem;
  margin: 50px 0;
}

.browseCollegeImage img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  width: 454px;
  height: 466px;
  left: 925px;
  top: 228px;
}

.rightImage img {
  position: absolute;
  width: 200px;
  height: 79.5px;
  left: 1260px;
  top: 285px;
}

.leftImage img {
  position: absolute;
  width: 200px;
  height: 79.5px;
  left: 820px;
  top: 552px;
}

/* Section 1 - Site Links Styles */

.siteLinksContainer {
  height: 200px;
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.siteLinksContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.siteLinksContainer ul {
  display: flex;
}

.siteLinksContainer img {
  width: 50px;
  height: 50px;
  background-color: lightgray;
}

.siteLinksContainer a {
  font-size: 2rem;
  text-transform: capitalize;
  color: black;
  padding: 20px 50px;
}

.siteLinksContainer a:hover {
  color: red;
}

/* Section 2 - Photos Styles */

.photosContainer,
.firstContainer,
.secondContainer,
.thirdContainer {
  display: flex;
  flex-wrap: wrap;
}

.photosContainer {
  flex-direction: column;
  justify-content: center;
  padding: 150px 0;
}

.photosContainer h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

.photosContainer h3,
.photosContainer p {
  padding: 10px;
}

.inPhoAll {
  width: 50%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdContainer {
  margin-bottom: 75px;
}

/* Section 3 - Question/Catchy Styles */

.questionContainer {
  position: relative;
  background-image: url(../images/lightningBackground.png);
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.questionContainer h3 {
  color: white;
  font-size: 3rem;
  padding: 10px 0;
}

.questionContainer .uniLink {
  margin: 25px 0;
}

.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6,
.logo7,
.logo8 {
  position: absolute;
  width: 25px;
  height: 50px;
}

.logo1 {
  top: 50px;
  left: 250px;
}

.logo2 {
  top: 100px;
  left: 0;
}

.logo3 {
  top: 200px;
  left: 500px;
}

.logo4 {
  bottom: -20px;
  left: 350px;
}

.logo5 {
  top: 50px;
  right: 250px;
}

.logo6 {
  top: 100px;
  right: 0;
}

.logo7 {
  top: 200px;
  right: 500px;
}

.logo8 {
  bottom: -20px;
  right: 350px;
}

/* Section 4 - Student Videos Styles */

.studentVideoTitleContainer {
  text-align: center;
  padding: 100px;
}

.studentVideoTitleContainer h3 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 20px 0;
}

.videosContainer {
  display: flex;
}

.videosContainer > div {
  flex-basis: 100%;
}

.studentVideo {
  position: relative;
}

.playButton {
  position: absolute;
  bottom: 100px;
  left: 210px;
}

.playButton img {
  border-radius: 50%;
}
