.navContainer {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.3);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search {
  padding: 10px 450px 10px 10px;
  background-color: lightgray;
}

.content {
  width: 100%;
  border-bottom: 2px solid black;
}

.mainLogoContainer {
  float: left;
  display: flex;
  flex-direction: column;
  box-shadow: 12px 0 15px -4px rgb(0, 0, 0, 0.3);
  border-bottom: 1px solid black;
  padding: 0 20px;
}

.logo {
  width: 25px;
  height: 50px;
  margin: 20px 20px 150px 20px;
}

.logo:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

.logoIcons {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.icons {
  display: flex;
}

.icons img,
.logoIcons img {
  width: 35px;
  height: 35px;
  margin: 20px;
  cursor: pointer;
}

.logoIcons .grad {
  width: 48px;
  height: 48px;
  margin: 13px 15px;
}

.icons img:hover,
.logoIcons a:hover {
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}
