html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global Styles */

html {
  font-size: 62.5%;
  max-width: 100%;
}

ul,
li,
h1,
h2,
h3,
h4,
nav,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1980px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

/* signUp.html Styles */

/* Nav Styles */

.navContainer {
  padding: 15px 0;
}

.logoContainer {
  float: left;
  display: flex;
}

.navContainer .logo {
  width: 25px;
  height: 50px;
  margin-right: 10px;
}

.navContainer h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

/* Form Styles */

.backgroundLogo1,
.backgroundLogo2,
.backgroundLogo3,
.backgroundLogo4,
.backgroundLogo5,
.backgroundLogo6,
.backgroundLogo7,
.backgroundLogo8,
.backgroundLogo9 {
  width: 32px;
  height: 46px;
  position: absolute;
}

.backgroundLogo1 {
  left: 15.56%;
  right: 82.22%;
  top: 29.49%;
  bottom: 66.01%;
}

.backgroundLogo2 {
  left: 1.74%;
  right: 96.04%;
  top: 52.34%;
  bottom: 43.16%;
}

.backgroundLogo3 {
  left: 21.74%;
  right: 76.04%;
  top: 66.02%;
  bottom: 29.49%;
}

.backgroundLogo4 {
  left: 10.97%;
  right: 86.81%;
  top: 87.79%;
  bottom: 7.71%;
}

.backgroundLogo5 {
  left: 71.39%;
  right: 26.39%;
  top: 14.06%;
  bottom: 81.44%;
}

.backgroundLogo6 {
  left: 94.31%;
  right: 3.47%;
  top: 6.35%;
  bottom: 89.15%;
}

.backgroundLogo7 {
  left: 83.12%;
  right: 14.65%;
  top: 56.84%;
  bottom: 38.67%;
}

.backgroundLogo8 {
  left: 96.53%;
  right: 1.25%;
  top: 69.63%;
  bottom: 25.87%;
}

.backgroundLogo9 {
  left: 76.88%;
  right: 20.9%;
  top: 88.18%;
  bottom: 7.32%;
}

.signUpHeaderContainer {
  position: relative;
  margin-top: 150px;
  clear: both;
}

.signUpMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpMessage h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.signUpMessage p {
  padding: 5px 0;
}

.createAccount,
.forgotPsw {
  color: #ee1d52;
  text-decoration: underline;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  margin: 50px 400px;
}

.unameContainer,
.pswContainer,
.formSubmit,
.forgotPsw {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.unameContainer input,
.pswContainer input {
  width: 100%;
  height: 50px;
}

.forgotPsw,
.formSubmit {
  text-align: center;
}

.formSubmit {
  padding: 15px 100px;
  color: white;
  background-color: #ee1d52;
  cursor: pointer;
}

.result {
  width: 200px;
  height: 200px;
  color: #000;
}

/* Footer Styles */

footer p {
  text-align: center;
  padding: 25px;
}
